<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %> 
    <title>Contact</title>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <%- include("layout/header") %>
    <div class="container-fluid contact mb-5">
        <div class="row">
            <div class="col-md-4 col-12 mt-3">
                <ul class="info-list">
                    <li>
                        <div class="title">
                            <h4>Address:</h4>
                        </div>
                        <div class="text">
                            <p>
                                8 Ton That Thuyet, My Dinh, Tu Liem, Ha Noi<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <h4>Ph & Fax:</h4>
                        </div>
                        <div class="text">
                            <p>+123 456 789 <br> info@historical.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <h4>Office Hrs:</h4>
                        </div>
                        <div class="text">
                            <p>Mon-Sat: 7:30am - 5:30pm<br> Sun: Closed</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-12">
                <div class="container contact-form">
                    <div class="contact-image">
                        <span><i class="fas fa-rocket"></i></span>
                    </div>
                    <form method="POST" action="/contact">
                        <h3>Drop Us a Message</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Your Name *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Your Email *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Your Phone Number *" value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="submit" name="submit" class="btnContact" value="Send" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe class="map-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0969666091723!2d105.78049781476332!3d21.02880578599839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd0c66f05%3A0xea31563511af2e54!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1631416844977!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <%- include("layout/footer") %>
    <script src="js/sweetalert.min.js"></script>
    <script>
        swal({
        title: "Success!",
        text: "Thank you for responding to us!",
        icon: "success",
        button: "Close",
        });
    </script>
</body>
</html>