<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %>
    <title>Geographical News</title>
    <link rel="stylesheet" href="css/geographical-news.css" type="text/css">
</head>
<body>
    <%- include("layout/header") %> 
    <div class="news">
        <div class="full-news">
            <div class="main-news">
                <div class="image-main-news">
                    <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                </div>
                <div class="content-main-news">
                    <p style="color: red">News</p>
                    <h3>Great Pyramid of Giza, also known as Pyramid of Khufu or Pyramid of Cheops</h3>
                </div>
            </div>
            <div class="side-news">
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <p style="color: red">News</p>
                        <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                        <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                    </div>
                </div>

                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <p style="color: red">News</p>
                        <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                        <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                    </div>
                </div>

                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <p style="color: red">News</p>
                        <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                        <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="seperate"></div>


        <div class="introduce-news">
            <div class="image-introduce-news">
                <h4>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the
                    oldest</h4>
                <div class="advertising-photo">
                    <img src="https://mb.dkn.tv/wp-content/uploads/2018/06/dai-kim-tu-thap-giza-ky-quan-vi-dai-nhat-moi-thoi-dai-p-1-nhung-an-do-kho-ly-giai-590x308.jpg"
                        alt="">
                    <img src="https://tpc.googlesyndication.com/simgad/1357086302968273414?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&rs=AOga4qnJEmQ8gDyNKgTFPUFTCO6LVaEG6Q"
                        alt="">
                </div>
                <p class="img-illustration">ảnh minh họa</p>
            </div>
            <div class="content-introduce-news">
                <p> The Giza Pyramid Complex ("Giza pyramids") is an archaeological site in the Giza Plain, Giza, on the
                    outskirts of Cairo, Egypt.
                    This complex of ancient monuments includes three pyramid complexes known as the Great Pyramids, a
                    large sculpture known as the Great Sphinx, several cemeteries, a workers' village, and an industrial
                    park. Karma. It is located in the Western Desert, about 9 km (5 mi) west of the Nile in the town of
                    Giza, and about 13 km from downtown Cairo.
                </p>
                <p>
                    The pyramids, historically considered symbols of Ancient Egypt in the Western imagination,[1][2]
                    were popularized during the Hellenistic period, when the Pyramids were listed. Listed by Antipater
                    of Sidon as one of the seven wonders of the world.[3] However, only the pyramid of Giza is on the
                    list of seven wonders of the ancient world (the reason why the pyramid of Giza is more special than
                    other pyramids: because it is the largest pyramid). and best preserved thanks to the sturdiness of
                    the building.It is by far the oldest ancient wonder and the only one still in existence.
                </p>
            </div>
        </div>

        <!-- related-news !-->
        <h4 class="Related-new-h4">Related news</h4>
        <div class="related-news">
            <div class="related-news-category">
                <div class="image-related-news">
                    <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                </div>
                <div class="content-related-news">
                    <p style="color: red">News</p>
                    <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                    <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                </div>
            </div>

            <div class="related-news-category">
                <div class="image-related-news">
                    <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                </div>
                <div class="content-related-news">
                    <p style="color: red">News</p>
                    <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                    <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                </div>
            </div>

            <div class="related-news-category">
                <div class="image-related-news">
                    <img src="/LaravelTorio/public/history/img/ktt-kim-tu-thap.jpg" alt="">
                </div>
                <div class="content-related-news">
                    <p style="color: red">News</p>
                    <h5>Great Pyramid of Giza, also known as Pyramid...</h5>
                    <p><a href="#">see more <i class="far fa-angle-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <%- include("layout/footer") %> 
</body>
</html>