<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %> 
    <title>Geographical</title>
    <link rel="stylesheet" href="css/geographical.css">
</head>
<body>
    <%- include("layout/header") %> 
    <!-- side-news !-->
    <div class="side-news">
        <div class="container">
            <div class="row">
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
                <div class="sub-category">
                    <div class="image-side-news">
                        <img src="https://image.thanhnien.vn/1024/uploaded/trandong/2015_10_27/kimtuthapd_zrfu.jpg" alt="">
                    </div>
                    <div class="content-side-news">
                        <a href="/historical/geographical:10">
                            <p style="color: red">News</p>
                            <h5>The Great Pyramid of Giza, also known as the Pyramid of Khufu or the Pyramid of Cheops, is the oldest and largest pyramid located in the Giza pyramid complex of Egypt.</h5>
                            <p>see more <i class="far fa-angle-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end side-news !-->
    <%- include("layout/footer") %> 
</body>
</html>