<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %>
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include("layout/header") %> 
    <main class="main">
        <section class="image-slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-item-center">
                        <div class="slider">
                            <a class="slider-link" href="#">
                                <div class="slide active">
                                    <img src="images/7-wonders-of-the-world-1.jpg" alt="">
                                    <div class="info">
                                        <h2>Christ the Redeemer</h2>
                                        <p>A very well known work of art in Brazil, Christ the Redeemer is an Art Deco statue of Jesus Christ. It was created by French sculptor Paul Landowski and built by Brazilian engineer Heitor da Silva Costa, in collaboration with French engineer Albert Caquot. Romanian sculptor Gheorghe Leonida fashioned the face.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-2.jpg" alt="">
                                    <div class="info">
                                        <h2>Taj Mahal</h2>
                                        <p>The Taj Mahal is known the world over for its beautiful architecture, history and the tale of love that led to its creation. Located in the Indian city of Agra, the Taj Mahal was commissioned in 1632 by the Mughal emperor Shah Jahan as a testament of his love for his departed wife Mumtaz Mahal.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-3.jpg" alt="">
                                    <div class="info">
                                        <h2>Petra</h2>
                                        <p>Originally known to its inhabitants as Raqmu, Petra is a historical and archaeological city in southern Jordan. It is believed that the area around Petra was inhabited as early as 7,000 BC, and the access to the city is through a 1.2-kilometre-long gorge called the Siq, which leads directly to the Khazneh.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-4.jpg" alt="">
                                    <div class="info">
                                        <h2>Machu Picchu</h2>
                                        <p>Located in the Eastern Cordillera of southern Peru on a 7,970 ft mountain ridge, Machu Picchu is a 15th-century Inca citadel. It is the most familiar icon of Inca civilization, and is often mistaken for the ‘Lost City of the Incas’.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-5.jpg" alt="">
                                    <div class="info">
                                        <h2>Colosseum</h2>
                                        <p>Also known as the Flavian Amphitheatre, the Colosseum is an oval-shaped amphitheater located in the centre of Rome in Italy. Built with concrete and sand, its construction began under Emperor Vespasian in AD 72 and it was completed by his successor, Titus, in AD 80.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-6.jpg" alt="">
                                    <div class="info">
                                        <h2>Great Wall of China</h2>
                                        <p>Great might be an understatement. One of the world’s largest building-construction projects, the Great Wall of China is widely thought to be about 5,500 miles (8,850 km) long; a disputed Chinese study, however, claims the length is 13,170 miles (21,200 km).</p>
                                    </div>
                                </div>
                            </a>
                            <a class="slider-link" href="#">
                                <div class="slide">
                                    <img src="images/7-wonders-of-the-world-7.jpg" alt="">
                                    <div class="info">
                                        <h2>Chichen Itza</h2>
                                        <p>Chichen Itza is an archaeological site located in Tinum Municipality of Yucatan State in Mexico. It was a large pre-Columbian city built by the Maya people, and was likely to have been one of the mythical great cities.</p>
                                    </div>
                                </div>
                            </a>
                            <div class="navigation">
                                <i class="fas fa-chevron-left prev-btn"></i>
                                <i class="fas fa-chevron-right next-btn"></i>
                            </div>
                            <div class="navigation-visibility">
                                <div class="slide-icon active"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="historical-monument">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="historical-monument__title">
                            Historical Monuments
                        </h3>
                        <h4 class="d-flex justify-content-center">Đây là nội dung di tích lịch sử</h4>
                    </div>
                </div>
            </div>
        </section> -->
    </main>
    <%- include("layout/footer") %> 
    <script src="js/image-slider.js"></script>
</body>
</html>