<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %>
    <title>Document</title>
    <link rel="stylesheet" href="css/news.css">
</head>
<body>
<%- include("layout/header") %>
<div class="Search">
    <form id="progsearch">
        <div class="searchbox searchbox-big text-center py-3" style="background-color: #382990;">
            <div class="searchbox-big-in">
                <input type="hidden" name="action" value="list">
                <input type="text" name="pattern" id="pattern" value="News Search" onfocus="if (this.value=='News Search') {this.value='';};" onblur="if (this.value=='') {this.value=='News Search';}" class="box-padding">
                <span class="buttons">
                        <button class="small_button plain_button button_padding" type="submit" value="Search"> Search </button>
                    </span>
                <br>
                <a href="javascript:ToggleDiv('advanced_search')" title="advanced search" class="box-span">
                    Advanced<img src="icons/arrow_small_down.png"></a>
            </div>
        </div>
        <div id="advanced_search" class="searchbox" name="advanced_search" style="display:none;">
            <div class="max-width-xl mx-auto">
                <div class="ym-grid linearize-level-1">
                    <div class="ym-g33 ym-gl">
                        <div class="ym-gbox-left">
                            <h5>Date</h5>
                            <div class="box-search date_input">

                                <input type="text" name="dateStart" id="dateStart" value="from..." class="inputdate" ext:qtitle="Date picker" data-qtip="Date fromat: dd/mm/yyyy">

                                <img src="/public/icons/calendar.png" id="dateStart_trigger" style="cursor: pointer;" height="16" width="16" ext:qtitle="Date picker" data-qtip="Date fromat: dd/mm/yyyy">
                                <br>

                                <input type="text" name="dateEnd" id="dateEnd" value="To..." class="inputdate" ext:qtitle="Date picker" data-qtip="Date fromat: dd/mm/yyyy">

                                <img src="/public/icons/calendar.png" id="dateEnd_trigger" style="cursor: pointer;" height="16" width="16" ext:qtitle="Date picker" data-qtip="Date fromat: dd/mm/yyyy">
                                <br>
                            </div>

                        </div>
                    </div>
                    <div class="ym-g33 ym-gl">
                        <div class="ym-gbox">
                            <h5>Country</h5>
                            <div class="box-search">

                                <div id="boxselect_8A2F0B72-939A-C801-758BFD7783BDC763" class="x-box-div"><div class="x-field x-form-item x-form-item-default x-form-type-text x-field-default x-form-item-no-label x-border-box x-scroller" style="padding: 0px; width: 100%; overflow: auto;" role="presentation" id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763"><label id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-labelEl" data-ref="labelEl" class="x-form-item-label x-form-item-label-default   x-unselectable" style="padding-right:5px;width:105px;" for="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputEl"><span class="x-form-item-label-inner x-form-item-label-inner-default" style="width:100px"><span id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-labelTextEl" data-ref="labelTextEl" class="x-form-item-label-text"></span></span></label><div id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-bodyEl" data-ref="bodyEl" role="presentation" class="x-form-item-body x-form-item-body-default x-form-text-field-body x-form-text-field-body-default x-form-text-grow x-tagfield-body"><div id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-triggerWrap" data-ref="triggerWrap" role="presentation" class="x-form-trigger-wrap x-form-trigger-wrap-default"><div id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputWrap" data-ref="inputWrap" role="presentation" class="x-form-text-wrap x-form-text-wrap-default"><div id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-listWrapper" data-ref="listWrapper" aria-hidden="false" aria-disabled="false" role="combobox" aria-haspopup="true" aria-expanded="false" aria-owns="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputEl idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-picker idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaList" aria-autocomplete="list" class="x-tagfield x-form-field x-form-text x-form-text-default"><span id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-selectedText" data-ref="selectedText" aria-hidden="true" class="x-hidden-clip">No value selected.</span><ul id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-itemList" data-ref="itemList" role="presentation" class="x-tagfield-list"><li id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputElCt" data-ref="inputElCt" role="presentation" class="x-tagfield-input"><input id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputEl" data-ref="inputEl" type="text" aria-invalid="false" aria-readonly="false" aria-describedby="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-selectedText idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaStatusEl idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaHelpEl" aria-required="false" role="textbox" class="x-tagfield-input-field  " autocomplete="off" data-componentid="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763"></li></ul><ul id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaList" data-ref="ariaList" role="listbox" aria-label="Selected values" aria-multiselectable="true" class="x-tagfield-arialist"></ul></div><label id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-placeholderLabel" data-ref="placeholderLabel" for="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-inputEl" class="x-placeholder-label x-placeholder-label-default "></label></div><div id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-trigger-picker" class="x-form-trigger x-form-trigger-default x-form-arrow-trigger x-form-arrow-trigger-default  " role="presentation"></div></div><span id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaHelpEl" data-ref="ariaHelpEl" class="x-hidden-offsets">Use Up and Down arrows to view available values, Enter to select. Use Left and Right arrows to view selected values, Delete key to deselect.</span><span id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaStatusEl" data-ref="ariaStatusEl" aria-hidden="true" class="x-hidden-offsets"></span><span id="idboxselect_8A2F0B72-939A-C801-758BFD7783BDC763-ariaErrorEl" data-ref="ariaErrorEl" aria-hidden="true" aria-live="assertive" class="x-hidden-clip"></span></div></div></div>

                                <input type="hidden" id="boxselectval_8A2F0B72-939A-C801-758BFD7783BDC763" name="id_states" value="">

                            </div>
                            <h5>Sites</h5>
                            <div class="box-search">

                                <div id="boxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0" class="x-box-div"><div class="x-field x-form-item x-form-item-default x-form-type-text x-field-default x-form-item-no-label x-border-box x-scroller" style="padding: 0px; width: 100%; overflow: auto;" role="presentation" id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0"><label id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-labelEl" data-ref="labelEl" class="x-form-item-label x-form-item-label-default   x-unselectable" style="padding-right:5px;width:105px;" for="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputEl"><span class="x-form-item-label-inner x-form-item-label-inner-default" style="width:100px"><span id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-labelTextEl" data-ref="labelTextEl" class="x-form-item-label-text"></span></span></label><div id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-bodyEl" data-ref="bodyEl" role="presentation" class="x-form-item-body x-form-item-body-default x-form-text-field-body x-form-text-field-body-default x-form-text-grow x-tagfield-body"><div id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-triggerWrap" data-ref="triggerWrap" role="presentation" class="x-form-trigger-wrap x-form-trigger-wrap-default"><div id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputWrap" data-ref="inputWrap" role="presentation" class="x-form-text-wrap x-form-text-wrap-default"><div id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-listWrapper" data-ref="listWrapper" aria-hidden="false" aria-disabled="false" role="combobox" aria-haspopup="true" aria-expanded="false" aria-owns="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputEl idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-picker idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaList" aria-autocomplete="list" class="x-tagfield x-form-field x-form-text x-form-text-default"><span id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-selectedText" data-ref="selectedText" aria-hidden="true" class="x-hidden-clip">No value selected.</span><ul id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-itemList" data-ref="itemList" role="presentation" class="x-tagfield-list"><li id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputElCt" data-ref="inputElCt" role="presentation" class="x-tagfield-input"><input id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputEl" data-ref="inputEl" type="text" aria-invalid="false" aria-readonly="false" aria-describedby="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-selectedText idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaStatusEl idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaHelpEl" aria-required="false" role="textbox" class="x-tagfield-input-field  " autocomplete="off" data-componentid="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0"></li></ul><ul id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaList" data-ref="ariaList" role="listbox" aria-label="Selected values" aria-multiselectable="true" class="x-tagfield-arialist"></ul></div><label id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-placeholderLabel" data-ref="placeholderLabel" for="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-inputEl" class="x-placeholder-label x-placeholder-label-default "></label></div><div id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-trigger-picker" class="x-form-trigger x-form-trigger-default x-form-arrow-trigger x-form-arrow-trigger-default  " role="presentation"></div></div><span id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaHelpEl" data-ref="ariaHelpEl" class="x-hidden-offsets">Use Up and Down arrows to view available values, Enter to select. Use Left and Right arrows to view selected values, Delete key to deselect.</span><span id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaStatusEl" data-ref="ariaStatusEl" aria-hidden="true" class="x-hidden-offsets"></span><span id="idboxselect_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0-ariaErrorEl" data-ref="ariaErrorEl" aria-hidden="true" aria-live="assertive" class="x-hidden-clip"></span></div></div></div>

                                <input type="hidden" id="boxselectval_8A2F0B75-C15C-30A2-7596FB4B29BC7FC0" name="id_sites" value="">

                            </div>
                            <h5>Keywords</h5>
                            <div class="box-search">

                                <div id="boxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A" class="x-box-div"><div class="x-field x-form-item x-form-item-default x-form-type-text x-field-default x-form-item-no-label x-border-box x-scroller" style="padding: 0px; width: 100%; overflow: auto;" role="presentation" id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A"><label id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-labelEl" data-ref="labelEl" class="x-form-item-label x-form-item-label-default   x-unselectable" style="padding-right:5px;width:105px;" for="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputEl"><span class="x-form-item-label-inner x-form-item-label-inner-default" style="width:100px"><span id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-labelTextEl" data-ref="labelTextEl" class="x-form-item-label-text"></span></span></label><div id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-bodyEl" data-ref="bodyEl" role="presentation" class="x-form-item-body x-form-item-body-default x-form-text-field-body x-form-text-field-body-default x-form-text-grow x-tagfield-body"><div id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-triggerWrap" data-ref="triggerWrap" role="presentation" class="x-form-trigger-wrap x-form-trigger-wrap-default"><div id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputWrap" data-ref="inputWrap" role="presentation" class="x-form-text-wrap x-form-text-wrap-default"><div id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-listWrapper" data-ref="listWrapper" aria-hidden="false" aria-disabled="false" role="combobox" aria-haspopup="true" aria-expanded="false" aria-owns="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputEl idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-picker idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaList" aria-autocomplete="list" class="x-tagfield x-form-field x-form-text x-form-text-default"><span id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-selectedText" data-ref="selectedText" aria-hidden="true" class="x-hidden-clip">No value selected.</span><ul id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-itemList" data-ref="itemList" role="presentation" class="x-tagfield-list"><li id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputElCt" data-ref="inputElCt" role="presentation" class="x-tagfield-input"><input id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputEl" data-ref="inputEl" type="text" aria-invalid="false" aria-readonly="false" aria-describedby="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-selectedText idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaStatusEl idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaHelpEl" aria-required="false" role="textbox" class="x-tagfield-input-field  " autocomplete="off" data-componentid="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A"></li></ul><ul id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaList" data-ref="ariaList" role="listbox" aria-label="Selected values" aria-multiselectable="true" class="x-tagfield-arialist"></ul></div><label id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-placeholderLabel" data-ref="placeholderLabel" for="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-inputEl" class="x-placeholder-label x-placeholder-label-default "></label></div><div id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-trigger-picker" class="x-form-trigger x-form-trigger-default x-form-arrow-trigger x-form-arrow-trigger-default  " role="presentation"></div></div><span id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaHelpEl" data-ref="ariaHelpEl" class="x-hidden-offsets">Use Up and Down arrows to view available values, Enter to select. Use Left and Right arrows to view selected values, Delete key to deselect.</span><span id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaStatusEl" data-ref="ariaStatusEl" aria-hidden="true" class="x-hidden-offsets"></span><span id="idboxselect_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A-ariaErrorEl" data-ref="ariaErrorEl" aria-hidden="true" aria-live="assertive" class="x-hidden-clip"></span></div></div></div>

                                <input type="hidden" id="boxselectval_8A2F0B77-FE2F-94AB-AD0349451DBC6C1A" name="id_keywords" value="">

                            </div>
                        </div>
                    </div>
                    <div class="ym-g33 ym-gr">
                        <div class="ym-gbox-right">
                            <h5>Region</h5>
                            <div class="box-search radio">

                                <input type="checkbox" value="5" name="id_region">
                                Africa<br>

                                <input type="checkbox" value="4" name="id_region">
                                Arab States<br>

                                <input type="checkbox" value="2" name="id_region">
                                Asia and the Pacific<br>

                                <input type="checkbox" value="1" name="id_region">
                                Europe and North America<br>

                                <input type="checkbox" value="3" name="id_region">
                                Latin America and the Caribbean<br>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buttons">
                        <button class="small_button plain_button button_padding" type="submit" value="Search">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<main class="main">

    <div class="container">
        <article class="content">

            <div class="ym-g66 ym-gr">
                <div class="ym-gbox-right">
                    <div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2323-90-90-20210906173850.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">New publication ‘Visitors Count!' launched to measure the value of tourism in protected areas </a><br>
                                    <span class="date">Thursday, 19 August 2021</span><br>
                                </h5>
                            </div>

                            The new guidelines published by UNESCO and the German Federal Agency for Nature Conservation (BfN) put forward a standard methodology for evaluating the impact of protected areas on the local economy.
                            The guidelines aim to help national stakeholders, protected area managers and researchers count visitation and measure economic impacts consistently through a standardized approach. Developed  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                1 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2333-90-90-20210902172649.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Afghanistan - UNESCO calls for the protection of cultural heritage in its diversity</a><br>
                                    <span class="date">Thursday, 19 August 2021</span><br>
                                </h5>
                            </div>

                            Amid the rapidly unfolding events, and twenty years after the deliberate destruction of the Bamiyan Buddhas, a World Heritage site, UNESCO Director-General Audrey Azoulay “calls for the preservation of Afghanistan’s cultural heritage in its diversity, in full respect of international law, and for taking all necessary precautions to spare and protect cultural heritage from damage and  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                1 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2321-90-90-20210830121850.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Call for Proposals - for the Sustainable Management of the W-Arly-Pendjari Complex</a><br>
                                    <span class="date">Thursday, 19 August 2021</span><br>
                                </h5>
                            </div>

                            The W-Arly-Pendjari Complex (WAP) is a transnational property (about 450 km border) shared by the Republic of Niger, Burkina Faso and the Republic of Benin in West Africa. The Niger part of the property was inscribed on the World Heritage List in 1996. It will be extended in 2017 to its Benin and Burkina Faso parts. The site is also a transboundary biosphere reserve. In addition to pressures  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                1 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2331-90-90-20210819155424.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Launch of an online consultation concerning the perception of the List of World Heritage in Danger &nbsp;</a><br>
                                    <span class="date">Thursday, 19 August 2021</span><br>
                                </h5>
                            </div>

                            At its 40th session (Istanbul/UNESCO, 2016), the World Heritage Committee highlighted that the List of World Heritage in Danger needed to be better understood and therefore decided that this issue be formally addressed in order to overcome the negative perception of this component of the Reactive Monitoring process (Decision 40 COM 7).
                            As presented to the World Heritage Committee at its  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                1 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2330-90-90-20210818175559.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">International Youth Day - World Heritage hand-in-hand with sustainable livelihoods</a><br>
                                    <span class="date">Thursday, 12 August 2021</span><br>
                                </h5>
                            </div>

                            Today is International Youth Day, when we focus on the future guardinas of our irreplaceable UNESCO World Heritage.&nbsp;
                            If heritage is what we leave behind for future generations, we need to work with young people to protect it. This International Youth Day, we wish to highlight the Young Professionals Forum which took place during the extended 44th session of the World Heritage Committee.&nbsp;
                            In  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                3 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2329-90-90-20210819155742.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">UNESCO World Heritage Centre statement regarding the fires in Greece</a><br>
                                    <span class="date">Monday, 9 August 2021</span><br>
                                </h5>
                            </div>

                            UNESCO and its World Heritage Centre have observed with concern the large number of fires that have struck Greece and other countries in Southern Europeand the Mediterranean in recent weeks.
                            According to information provided by experts and press reports, firefighters continue to battle major fires in Greece, including one that could impact the World Heritage site “Archaeological Site of  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                2 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2328-90-90-20210816123754.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Message from Audrey Azoulay, Director-General of UNESCO, on the occasion of the International Day of the World’s Indigenous Peoples</a><br>
                                    <span class="date">Monday, 9 August 2021</span><br>
                                </h5>
                            </div>

                            In the Lakota language of North America, the word “Mitákuye Oyás’iŋ” means “all is related” or “all my relatives” – both human and non-human. In Hawaiian, the phrase “ike loa” means “to see much” and describes a philosophy of lifelong learning to better understand our relationship with the world. And in the nearly extinct Nǀuu language of South Africa, the word “lgqe” refers to the life-force  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                2 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2326-90-90-20210902172556.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">UNESCO seriously concerned about the protection of World Heritage site of the Rock-Hewn Churches, Lalibela (Ethiopia)</a><br>
                                    <span class="date">Friday, 6 August 2021</span><br>
                                </h5>
                            </div>

                            UNESCO wishes to express its deep concern about the reports on the expansion of the conflict to the city of Lalibela (Ethiopia), which hosts the Rock-Hewn Churches.
                            UNESCO calls for the respect of all relevant obligations under international law in ensuring the protection of the Outstanding Universal Value and legacy of this precious site by refraining from any act that may expose it to  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                1 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2325-90-90-20210902172712.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Training workshop for “enhancing the implementation capacity of the 1972 Convention at World Heritage sites” organized in Ethiopia</a><br>
                                    <span class="date">Friday, 6 August 2021</span><br>
                                </h5>
                            </div>

                            UNESCO Addis Ababa Liaison Office in collaboration with the World Heritage Centre (WHC) and financial support from the People’s Republic of China, organized a Training workshop on “enhancing the implementation capacity of the 1972 World Heritage Convention ” which took place from 3 to 5 August 2021, in Adama Town, Ethiopia. The meeting brought together 43 participants from ministries and  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                3 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header box-padding-m">

                                <a href="#"><img src="thumbs/news_2324-90-90-20210816124403.jpg" alt="" width="90" height="90" class="box-header-img"></a>

                                <h5>
                                    <a href="#" class="title">Looking into the future: Highlights of the Regional Action Plan for Africa (2021‐2027)</a><br>
                                    <span class="date">Tuesday, 3 August 2021</span><br>
                                </h5>
                            </div>

                            In parallel to the extended 44th session of the World Heritage Committee, the UNESCO World Heritage Centre (WHC), in close collaboration with the African World Heritage Fund (AWHF), organised an online side event, “Looking into the future: Highlights of the Regional Action Plan for Africa (2021 – 2027)” on 30 July. The event reflected upon the objectives and challenges foreseen in the  ...
                            <div class="date py-5">
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="watch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12px" height="12px"><path fill="currentColor" d="M320 112.9V24c0-13.2-10.8-24-24-24H88C74.8 0 64 10.8 64 24v88.9C24.7 148.1 0 199.1 0 256s24.7 107.9 64 143.1V488c0 13.2 10.8 24 24 24h208c13.2 0 24-10.8 24-24v-88.9c39.3-35.2 64-86.2 64-143.1s-24.7-107.9-64-143.1zM96 32h192v57.7C259.8 73.3 227 64 192 64s-67.8 9.3-96 25.7V32zm192 448H96v-57.7c28.2 16.3 61 25.7 96 25.7s67.8-9.4 96-25.7V480zm-96-64c-88.6 0-160-71.8-160-160S103.5 96 192 96c88.4 0 160 71.6 160 160s-71.6 160-160 160zm49-92.2l-60.1-43.7c-3.1-2.3-4.9-5.9-4.9-9.7V150.3c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v109.9l51.8 37.7c5.4 3.9 6.5 11.4 2.6 16.8l-4.7 6.5c-3.8 5.3-11.3 6.5-16.7 2.6z" class=""></path></svg>
                                2 min read
                            </div>

                            <div class="box-footer buttons box-padding-m">
                                <a href="#" class="plain_button small_button">&nbsp;Read&nbsp;</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ym-g33 ym-gl">
                <div class="ym-gbox-left">
                    <div class="box">
                        <div class="related-calendar-height">
                            <div class="center">
                                <a href="#" title="Previous Year "><img src="icons/control_start.png" class="icon" height="16" width="16">
                                </a>
                                <a href="#" title="previous month "><img src="icons/control_rewind.png" class="icon" height="16" width="16">
                                </a>
                                <a href="#" class="" title="View this Month"><strong>September</strong></a>&nbsp;
                                <a href="#" class="" title="View this Year"><strong>2021</strong></a>
                                <a href="#" title="View next month "><img src="icons/control_fastforward.png" class="icon" height="16" width="16">
                                </a>
                                <a href="#" title="View next year "><img src="icons/control_end.png" class="icon" height="16" width="16">
                                </a>
                            </div>
                            <table cellspacing="0" class="calendar tableaux grey tableaux-compact noborder month w-100 p-10 mx-auto">
                                <colgroup>
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="13%">
                                    <col width="12%">
                                </colgroup>

                                <thead>
                                <tr class="dayheader">
                                    <th>
                                        Mon
                                    </th>

                                    <th>
                                        Tue
                                    </th>

                                    <th>
                                        Wed
                                    </th>

                                    <th>
                                        Thu
                                    </th>

                                    <th>
                                        Fri
                                    </th>

                                    <th>
                                        Sat
                                    </th>

                                    <th>
                                        Sun
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="day">

                                    <td class="othermonth">
                                        30
                                    </td>

                                    <td class="othermonth">
                                        31
                                    </td>

                                    <td class="thismonth">
                                        1
                                    </td>

                                    <td class="thismonth event">
                                        <a title="Thursday - view this day" href="/en/news/mode=list&amp;date=2021-09-2&amp;calendarmode=day">2</a>
                                    </td>

                                    <td class="thismonth">
                                        3
                                    </td>

                                    <td class="thismonth">
                                        4
                                    </td>

                                    <td class="thismonth">
                                        5
                                    </td>
                                </tr>
                                <tr class="day">
                                    <td class="thismonth event">
                                        <a title="Monday - view this day" href="/en/news/mode=list&amp;date=2021-09-6&amp;calendarmode=day">6</a>
                                    </td>

                                    <td class="thismonth">
                                        7
                                    </td>

                                    <td class="thismonth">
                                        8
                                    </td>

                                    <td class="thismonth event">
                                        <a title="Thursday - view this day" href="/en/news/mode=list&amp;date=2021-09-9&amp;calendarmode=day">9</a>
                                    </td>

                                    <td class="thismonth">
                                        10
                                    </td>

                                    <td class="thismonth">
                                        11
                                    </td>

                                    <td class="thismonth">
                                        12
                                    </td>
                                </tr>
                                <tr class="day">
                                    <td class="thismonth">
                                        13
                                    </td>

                                    <td class="thismonth">
                                        14
                                    </td>

                                    <td class="thismonth">
                                        15
                                    </td>

                                    <td class="thismonth">
                                        16
                                    </td>

                                    <td class="thismonth">
                                        17
                                    </td>

                                    <td class="thismonth">
                                        18
                                    </td>

                                    <td class="thismonth">
                                        19
                                    </td>
                                </tr>
                                <tr class="day">
                                    <td class="thismonth">
                                        20
                                    </td>

                                    <td class="thismonth">
                                        21
                                    </td>

                                    <td class="thismonth">
                                        22
                                    </td>

                                    <td class="thismonth">
                                        23
                                    </td>

                                    <td class="thismonth">
                                        24
                                    </td>

                                    <td class="thismonth">
                                        25
                                    </td>

                                    <td class="thismonth">
                                        26
                                    </td>
                                </tr>
                                <tr class="day">
                                    <td class="thismonth">
                                        27
                                    </td>

                                    <td class="thismonth">
                                        28
                                    </td>

                                    <td class="thismonth">
                                        29
                                    </td>

                                    <td class="thismonth">
                                        30
                                    </td>

                                    <td class="othermonth">
                                        1
                                    </td>

                                    <td class="othermonth">
                                        2
                                    </td>

                                    <td class="othermonth">
                                        3
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </article>

    </div>

</main>
<%- include("layout/footer") %>
<script src="js/image-slider.js"></script>
</body>
</html>