
.img-introduce img {
    width: 100%;
}

.titel-introduce-img {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 20px;
}
.titel-introduce-img h4 {
    width: 600px;
    margin-top: 5px;
}
.content {
    margin-top: 10px;
}
.content p {
    width: 600px;
}


.day-posts {
    opacity: 0.6;
    font-size: 15px;
}


.more-trending-posts {
    margin-top: 25px;
    color: blue;
}
.fal.fa-long-arrow-right {
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 390px;
    padding: 7px;
}

.seperate-footer {
    text-align: center;
    margin-top: 40px;
}
.fas.fa-horizontal-rule {
    font-size: 20px;
}

.side-news {
    padding-top: 15px;
    background-color: #fff;
    display: flex;
}

.trending-post {
    margin-left: 20px;
}

.sub-category {
    margin-bottom: 15px;
}

.content-side-news {
    margin-top: 15px;
}

.content-side-news h5 {
    width: 330px;
    font-size: 18px;
}

.content-side-news a {
    color: black;    
    text-decoration: none;
}

.image-side-news img {
    width: 100%;
    height: 347px;
    object-fit: cover;
    border-radius: 2px;
}

.image-side-news a {
    display: block;
}

.far.fa-angle-right {
    margin-top: 10px;
}