body {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}

.news {
    margin: 5vw;
    width: 90vw;
}

.full-news {
    display: flex;
    padding-bottom: 30px;
    width: 90vw;
}

.content-main-news {
    margin-top: 20px;
}

.content-main-news h3 {
    width: 680px;
}

.image-main-news img {
    width: 1279px;
    height: 625px;
    border-radius: 2px;
    outline: none;
    margin-left: 39px;
}

.side-news {
    padding-top: 15px;
    background-color: black;
    color: white;
    padding-left: 20px;
    position: absolute;
    margin-left: 700px;
    margin-top: 27px;
    opacity: 0.8;
}

.trending-post {
    padding-bottom: 10px;
}

.sub-category {
    display: flex;
    margin-bottom: 15px;
}

.content-side-news {
    margin-left: 20px;
}

.content-side-news h5 {
    width: 330px;
    font-size: 18px;
}

.content-side-news a {
    color: #fff !important;
    color: black;    
    text-decoration: none;
}

.image-side-news img {
    width: 200px;
    height: 130px;
    border-radius: 2px;
}

.far.fa-angle-right {
    margin-top: 10px;
}

.more-trending-posts {
    margin-top: 40px;
    padding-bottom: 15px;
}
.fal.fa-long-arrow-right {
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 300px;
    padding: 7px;
}

.seperate {
    margin-top: 20px;
    border-top: 3px solid black;
    width: 1100px;
}

.introduce-news {
    margin-top: 40px;
}

.image-introduce-news h4 {
    font-size: 22px;
    margin-left: 40px;
}

.image-introduce-news img:nth-child(1) {
    width: 900px;
    height: 450px;
    margin-left: 100px;
}

.image-introduce-news img:nth-child(2) {
    margin-left: 110px;
    margin-top: -78px;
}

.content-introduce-news {
    width: 1260px;
    margin-top: 20px;
}

.img-illustration {
    margin-left: 500px;
    margin-top: -25px;
    opacity: 0.6;
}

.related-news {
    display: flex;
    margin-left: -20px;
    margin-top: 40px;
}

.related-news-category {
    margin-left: 20px;
}

.content-related-news h5 {
    width: 330px;
    font-size: 18px;
}

.image-related-news img {
    width: 411.4px;
    border-radius: 2px;
}

.far.fa-angle-right {
    margin-top: 10px;
}

.content-related-news {
    margin-top: 20px;
}

.Related-new-h4 {
    margin-top: 40px;
}

.seperate-footer {
    text-align: center;
    margin-top: 40px;
}
.fas.fa-horizontal-rule {
    font-size: 20px;
}

.side-news-footer {
    padding-top: 15px;
    display: flex;
    margin-left: 18px;
}

.trending-post-footer {
    margin-left: 36px;
    text-align: center;
    color: #000;
}
.trending-post-footer p {
    font-size: 13px;
    opacity: 0.8;
}

.sub-category-footer {
    margin-bottom: 15px;
    margin-left: 20px;
}

.content-side-news-footer {
    margin-top: 15px;
}

.content-side-news-footer h5 {
    width: 330px;
    font-size: 18px;
}

.content-side-news-footer a {
    color: black;    
    text-decoration: none;
}

.image-side-news-footer img {
    width: 100%;
    height: 347px;
    object-fit: cover;
    border-radius: 2px;
}

.far.fa-angle-right {
    margin-top: 10px;
}
