<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #6351ce;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <div class="social-networks col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color: #1c2331;">
    <div class="container text-center text-md-left p-4">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            Historical Monuments
          </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background-color: #7c4dff;">
          <p>
            This is a website to help you discover and understand
            more about historical sites around the world. Historical
            sites that date back millions of years.
          </p>
        </div>

        <div class="useful-links col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background-color: #7c4dff;">
          <p>
            <a href="/home">Home</a>
          </p>
          <p>
            <a href="historical">Historical</a>
          </p>
          <p>
            <a href="/gallery">Gallery</a>
          </p>
          <p>
            <a href="/contact">Contact</a>
          </p>
        </div>
  
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Address</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff;">
          <p>
            <i class="fas fa-home mr-3"></i> Ha Noi, Viet Nam
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@historical.com
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88
          </p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color: #161c27;" class="footer-copyright text-center py-3">
    © 2021 Copyright: Historical-Monuments-Teams
  </div>
</footer>