<header class="header">
    <section class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="top-bar__menu-list">
                        <div class="top-bar__logo">
                            <a href="/home"><img src="images/apple-touch-icon.png" alt=""></a>
                        </div>
                        <div class="top-bar__menu-item">
                            <li><a href="/home">Home</a></li>
                            <li>
                                <a href="/historical">Historical Monuments</a>
                                <ul class="historical-list">
                                    <li><a href="historical/geographical">Geographical</a></li>
                                    <li><a href="#">Time</a></li>
                                    <li><a href="#">Cutras</a></li>
                                </ul>
                            </li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>