<header class="header" id="top">
    <section class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="top-bar__menu-list">
                        <div class="top-bar__logo">
                            <a href="/"><img src="images/apple-touch-icon.png" alt=""></a>
                        </div>
                        <div class="top-bar__menu-item">
                            <li><a href="/">Home</a></li>
                            <li>
                                <p>Historical Monuments</p>
                                <ul class="historical-list">
                                    <li><a href="historical/news">News and events</a></li>
                                    <li><a href="historical/geographical">Geographical</a></li>
                                    <li><a href="historical/time">Time</a></li>
                                    <li><a href="historical/customs">Customs</a></li>
                                </ul>
                            </li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </div>

                        <label class="menu-icon" for="nav-mobile-input">
                            <div class="nav-mobile-icon">
                                <i class="fas fa-bars"></i>
                            </div>
                        </label>
                        <input type="checkbox" hidden name="" class="nav-input" id="nav-mobile-input">
                        <label class="nav__overlay" for="nav-mobile-input"></label>
                        <div class="nav-mobile">
                            <label class="nav-mobile-close" for="nav-mobile-input">
                                <i class="fas fa-times"></i>
                            </label>
                            <ul class="menu-list">
                                <li class="menu__item"><a href="/" class="menu__item-link">Home</a></li>
                                <li class="menu__item menu__item-historical">
                                    <p class="menu__item-link">Historical Monuments</p>
                                    <ul class="historical-list__mobile">
                                        <li><a href="historical/news">News and events</a></li>
                                        <li><a href="historical/geographical">Geographical</a></li>
                                        <li><a href="historical/time">Time</a></li>
                                        <li><a href="historical/customs">Customs</a></li>
                                    </ul>
                                </li>
                                <li class="menu__item"><a href="/gallery" class="menu__item-link">Gallery</a></li>
                                <li class="menu__item"><a href="/contact" class="menu__item-link">Contact</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>